{% extends 'base.html.twig' %}

{% block title %}Historial de Cambios{% endblock %}

{% block body %}
<div class="container mx-auto mt-10 shadow-md bg-white p-6 rounded-lg">
    <h1 class="text-2xl font-bold text-center">Historial de Cambios</h1>
    <table class="w-full mt-6 border-collapse border border-gray-300">
        <thead>
            <tr class="bg-gray-200">
                <th class="border border-gray-300 px-4 py-2">Fecha</th>
                <th class="border border-gray-300 px-4 py-2">Campo</th>
                <th class="border border-gray-300 px-4 py-2">Cambio Anterior</th>
                <th class="border border-gray-300 px-4 py-2">Cambio Nuevo</th>
            </tr>
        </thead>
        <tbody>
            {% for cambio in historial %}
                <tr>
                    <td class="border border-gray-300 px-4 py-2">{{ cambio.fecha|date('d/m/Y H:i') }}</td>
                    <td class="border border-gray-300 px-4 py-2">{{ cambio.campo }}</td>
                    <td class="border border-gray-300 px-4 py-2">{{ cambio.anterior }}</td>
                    <td class="border border-gray-300 px-4 py-2">{{ cambio.nuevo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
