{% extends 'base.html.twig' %}

{% block title %}Registro Exitoso{% endblock %}

{% block body %}
<div class="container text-center mt-5">
    <h2 class="text-success">¡Registro exitoso!</h2>
    <p>Tu cuenta ha sido creada correctamente.</p>
    <a href="{{ path('user_login') }}" class="btn btn-primary mt-3">Iniciar Sesión</a>
</div>
{% endblock %}
