{% extends 'base.html.twig' %}

{% block title %}Cuenta Bloqueada{% endblock %}

{% block body %}
<div class="container mx-auto max-w-md mt-10 shadow-md bg-white p-6 rounded-lg text-center">
    <h1 class="text-2xl font-bold text-red-500">Cuenta Bloqueada</h1>
    <p class="mt-4 text-gray-700">Tu cuenta ha sido bloqueada debido a múltiples intentos fallidos de inicio de sesión.</p>
    <p class="mt-4 text-gray-500">Por favor, contacta al soporte técnico para desbloquear tu cuenta.</p>
    <div class="mt-6">
        <a href="{{ path('auth_login') }}" class="text-blue-500 hover:underline">Volver al Inicio</a>
    </div>
</div>
{% endblock %}
